<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmdp.mapper.FollowMapper">


    <select id="queryFollowCommons" resultType="java.lang.Long">
        select t1.follow_user_id
        from tb_follow t1
                 join tb_follow t2 on t1.follow_user_id = t2.follow_user_id
        where t1.user_id = #{userId}
          and t2.user_id = #{id}
    </select>
</mapper>